#theEndView {
    -fx-background-color: rgba(33, 33, 33, 0.9);
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 2em;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

#clearText {
    -fx-font-size: 10em;
}

.iconButton {
    -fx-min-width: 10em;
    -fx-min-height: 10em;
    -fx-background-size: 9.5em;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
}

#homeButton {
    -fx-background-image: url("../../../assets/pics/homeWhite.png");
}

#homeButton:hover {
    -fx-background-image: url("../../../assets/pics/homeOrange.png");
}

#repeatLevelButton {
    -fx-background-image: url("../../../assets/pics/loopWhite.png");
}

#repeatLevelButton:hover {
    -fx-background-image: url("../../../assets/pics/loopOrange.png");
}

#levelSelectButton {
    -fx-background-image: url("../../../assets/pics/levelSelectWhite.png");
}

#levelSelectButton:hover {
    -fx-background-image: url("../../../assets/pics/levelSelectOrange.png");
}