
* {
<<<<<<< HEAD:bin/presentation/LevelSelectView/style.css
	-fx-background-color: rgb(235, 224, 205);
}

.root {
	/* -fx-background-color: #EBE0CD; */
}

.selected {
	-fx-background-color: #EF6936;
}

.oddTile {
    -fx-background-color: rgb(177, 186, 117);
}

.evenTile {
    -fx-background-color: rgb(128, 201, 171);
}

#menuTitle {
    -fx-font-size: 4em;
}

#backButton {
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 40px;
	-fx-min-width: 40px;
	-fx-background-color: rgb(40, 40, 40);
	-fx-background-radius: 20px;
	-fx-text-fill: rgb(235, 224, 205);
	-fx-font-size: 1em;
    -fx-font-alignment: center;
	
	-fx-transition-duration: 0.4s;
}

#backButton:hover{
	-fx-background-color: rgb(239, 105, 54);
	-fx-text-fill: rgb(40,40, 40);
}

#levelSelectButton {
	-fx-min-width: 50px;
	-fx-max-width: 100px;
	-fx-background-color: rgb(30, 30, 30);
	-fx-background-radius: 5em;
	-fx-text-fill: rgb(235, 224, 205);
=======
	/* -fx-base: #EBE0CD; */

}

.root {
	/* -fx-background-color: #EBE0CD;
	-fx-base: #EBE0CD; */
	
	-fx-font-size: 1.2em;
	-fx-background-color: #EBE0CD;
	/* -fx-font-weight: 600; */
	/* -fx-font-family Futura, sans-serif; */
}

.menuTitle {
    -fx-font-size: 8em;
    -fx-font-weight: bold;
}

.button {
	-fx-background-color: #1E1E1E;
	-fx-text-fill: #EBE0CD;
	-fx-pref-width: 8em;
	
>>>>>>> main:src/presentation/homeView/styleHomeScreen.css
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
	-fx-font-alignment: center;
	
	transition-duration: 0.4s;
}

<<<<<<< HEAD:bin/presentation/LevelSelectView/style.css
#levelSelectButton:hover {
	-fx-background-color: rgb(239, 105, 54);
	-fx-text-fill: rgb(40, 40, 40);
	
=======
.button:hover {
	-fx-background-color: #EF6936;
}

#settings {
	-fx-background-color: rgba(33, 33, 33, 0.9);	
	-fx-font-weight: bold;
}

#settings .label {
	-fx-text-fill: #FFFFFF;
>>>>>>> main:src/presentation/homeView/styleHomeScreen.css
}