

/* COLOR HEX:	black-grey			#EBE0CD 	(title and main text)
 * 				milk				#EBE0CD		(background colour)
 * 				orange				#EF6936		(highlight and hover effect)
 * 				retro-blue			#1065B4 	(theme colour 1)
 * 				green-turqouise		#289970		(theme colour 2)
 * 				light-turqouise		#80C9AB		(element fill 1)
 * 				dark-lime-green		#B1BA75		(element fill 2)
 */
 
* {
	/* -fx-base: #EBE0CD; */

}

.root {
	/* -fx-background-color: #EBE0CD;
	-fx-base: #EBE0CD; */
	
	-fx-font-size: 1.2em;
	-fx-background-color: #EBE0CD;
	/* -fx-font-weight: 600; */
	/* -fx-font-family Futura, sans-serif; */
}

.menuTitle {
    -fx-font-size: 8em;
    -fx-font-weight: bold;
}

.button {
	-fx-background-color: #1E1E1E;
	-fx-text-fill: #EBE0CD;
	-fx-pref-width: 8em;
	
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
	
	
	/* -fx-border-style: solid;
	-fx-border-radius: 5em; */
	
	transition-duration: 0.4s;
}

.button:hover {
	-fx-background-color: #EF6936;
}

#settings {
	-fx-background-color: rgba(33, 33, 33, 0.9);	
	-fx-font-weight: bold;
}

#settings .label {
	-fx-text-fill: #FFFFFF;
}